@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  --color-black: #071629;
  --color-charcoal: rgba(7, 22, 41, 0.501584);
  --color-grey: #676767;
  --color-white: #FFFFFF;
  --color-purple: #C271FF;
  --thumb-a: url(./images/thumbnail_1.jpg) center 0 no-repeat; 
  --thumb-b: url(./images/thumbnail_2.jpg) center 0 no-repeat;
  --thumb-c: url(./images/thumbnail_3.jpg) center 0 no-repeat; 
  --thumb-d: url(./images/thumbnail_4.jpg) center 0 no-repeat; 
}

html,body {
  height: 100%;
  font-family: 'Source Sans Pro';
}

body {
  color: var(--color-white);
}
body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

button {
  margin-bottom: 140px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

button:hover, button:active {
	opacity: 0.9;
}

.crshero {
  background-color: var(--color-grey);
  background: url(images/pic_3.jpg) center 0 no-repeat;
  background-size: cover;
}

footer {
  background-color: var(--color-black);
    height: 140px;
}

small {
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.hero {
  background-color: var(--color-grey);
  background: url(images/pic_1.jpg) center 0 no-repeat;
  background-size: cover;
}

#membership {
  background-color: var(--color-black);
  color: var(--color-white);
}

.prihero {
  background-color: var(--color-grey);
  background: url(images/pic_2.jpg) center 0 no-repeat;
  background-size: cover;
}

.rounded-pill {
  background-color: var(--color-purple);
}

.searchbar {
  background-color: var(--color-purple);
  color: var(--color-white);
}

#caroquotes {
  background-color: var(--color-purple);
  color: var(--color-white);
}

#caroquotes .d-flex {
	height: 208px;
}

.tinythumb {
  height: 30px;
  width: 30px;
}

#tutorials, #faq, #videos {
  background-color: var(--color-white);
  height: 520px;
  color: var(--color-black);
}

#emptypopular-tutorials, #emptylatest-videos, #emptycourses  {
	color: var(--color-purple);
}

#faq {
}
.tutorial-bg {
	height: 160px;
	background-size: cover;
}
#tutorials span img,
#videos span img {
  filter: invert(100%);
}

.quote-bg {
	height: 160px;
}

.vidplay-btn {
        height: 160px;
}

#results {
  background-color: var(--color-white);
  color: var(--color-black);
  }

.card-img {
  height: 160px;
  width: 160px;
}

.card-img-over {
  height: 80px;
  width: 80px;
}

#results .card-img-top {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.prostop {
	height: 160px;
  width: 160px;
}
.purple {
  color: var(--color-purple);
}

.chkselect {
  filter: invert(100%);
}

#profiles .card {
	padding: 0px;
}
#profiles .card-img-top {
	height: 160px;
	width: 160px;
}

.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.score-wrap {
  display: inline-block;
  position: relative;
  height: 19px;
}

.score .stars-active {
  color: var(--color-purple);
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.score .stars-inactive {
  color: grey;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: initial;
  /* overflow: hidden; */
}

.card-columns {
	width: 98%;
	padding: 50px;
	margin-top: 45px;
	margin-left: 23px;
}

#results .card-deck {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

@media screen and (min-width: 577px) {

     footer, #videos, #membership, #tutorials {
	display: block;
     }
}
@media screen and (max-width: 576px) {
footer, #videos, #membership, #tutorials {
	display: none;
     }
     .emptyquotes {
	     flex: 1;
     }
.quote-bg {
     align-self: center;
}
}
@media (max-width: 768px) {
#recipeCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
#recipeCarousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
#recipeCarousel     .carousel-inner .carousel-item-right.active,
#recipeCarousel     .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
#recipeCarousel     .carousel-inner .carousel-item-left.active, 
#recipeCarousel     .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-right,
#recipeCarousel .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

